extends layout

block head
    meta(http-equiv='refresh', content='20')

block content
    h3.text-center #{bundle.hash}
    br
    div.grid
        div.col-2-12
        div.col-8-12
            for value, key in bundle
                if key !== '__v'
                    div.panel.panel-default
                        div.panel-header #{key}
                        if typeof(value) == 'object'
                            div.panel-body!=JSON.stringify(value)
                        else
                            div.panel-body!=value
                    br
        div.col-2-12
