extends layout

block content
    div.row
        div.col-2-12
        div.col-8-12.text-center
            i
                h1=message
            h2=error.status
            if error.stack
                pre #{error.stack}
        div.col-2-12
