doctype html
html
    head
        title= title
        meta(http-equiv='refresh', content='20')
        style
            include ./static/css/bootstrap.min.css
        style
            include ./static/css/main.css
    body
        block content
        script
            include ./static/js/jquery.min.js
        script
            include ./static/js/bootstrap.min.js
