doctype html
html
    head
        title= title
        meta(http-equiv='refresh', content='20')
        style
            include ../node_modules/bootstrap/dist/css/bootstrap.css
        style
            include ./static/css/main.css
    body
        block content
        script
            include ../node_modules/jquery/dist/jquery.min.js
        script
            include ../node_modules/bootstrap/dist/js/bootstrap.min.js
