doctype html
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
html
    head
        title= title
        block head
        style
            include ../node_modules/psychic-ui/psychic-min.css
        style
            include ./static/css/main.css
    body
        div.container
            div.navbar
                div.container
                    div.navbar-title
                        span
                            a(href="/") Granary
                    div.nav
                        a(href="/bundles") Bundles
                        a(href="/queue") Queue
                        a(href="/stats") Stats
        block content
