doctype html
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
html
    head
        title= title
        block head
        style
            include ../node_modules/bootstrap/dist/css/bootstrap.css
        style
            include ./static/css/main.css
    body
        div.container
            div(class="header clearfix")
                if(!presentation)
                    nav 
                      ul(class="nav nav-pills pull-right")
                        li 
                            a(href="/") Home
                        li 
                            a(href="/bundles") Bundles
                        li 
                            a(href="/granaries/active") Queue
                h3(class="text-muted") Granary Server
        block content
        script
            include ../node_modules/jquery/dist/jquery.min.js
        script
            include ../node_modules/bootstrap/dist/js/bootstrap.min.js
