extends layout

block head
    style.
        html, body {
            height:100%;
        }

block content
    div.grid(id="kue-grid")
        div.col-12-12(style="height:100%;")
            iframe(src="/kue" height="100%" width="100%" frameborder=0)

    script.
        document.getElementById('kue-grid').style.height = (window.innerHeight - 140) + 'px';
