extends layout

block head
    meta(http-equiv='refresh', content='20')
    script(src="/static/jquery/dist/jquery.min.js")
    script(src="/static/highcharts/adapters/standalone-framework.js")
    script(src="/static/highcharts/highcharts.js")

block content
    br
    div.row
        div.col-md-3
        div.col-md-6.text-center
            //- TODO: iterate over stats object instead of hardcoding
            div(id="downloads_over_time" style="padding:15px;border:1px solid #dedede;height:250px;")
            br
            div(id="creates_over_time" style="padding:15px;border:1px solid #dedede;height:250px;")
        div.col-md-3

    script(src="/static/js/stats.js")
