extends layout

block head
    script(src="/static/c3/node_modules/d3/d3.min.js")
    script(src="/static/c3/c3.min.js")
    style
        include ../node_modules/c3/c3.min.css

block content
    br
    div.grid
        div.col-2-12
        div.col-8-12.text-center
            div(id="stats" data-stats=stats)
            each stat in stats
                div(style="padding:15px;border:1px solid #dedede;height:400px;")
                    h3=stat
                    div(id=stat)
                br
        div.col-2-12

    script.
        var getJSON = function(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    callback(JSON.parse(xhr.responseText));
                }
            }
            xhr.send();
        }

        JSON.parse(document.getElementById('stats').dataset['stats']).forEach(function(stat) {
            getJSON('/stats/' + stat, function(data) {
                var chart = c3.generate({
                    bindto: d3.select('#' + stat),
                    data: {
                        x: 'x',
                        columns: [
                            data[0],
                            data[1]
                        ],
                        type: 'scatter'
                    },
                    axis: {
                        y : {
                           tick: {
                               format: d3.format(".1f")
                           }
                       },
                        x: {
                            type: 'timeseries',
                            tick: {
                                format: '%I:%M:%S'
                            }
                        }
                    }
                });
            });
        });
