* {
    border-radius: 0px !important;
}

.intro h1{
  float: left;
}
.intro {
  overflow: hidden;
}

.logo {
  float: right;
  width: 150px;
}

table {
    table-layout: fixed;
}
td {
    overflow-wrap: break-word;
}
